@import "./variables.css";

#size-title {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%);
    font-size: 2vw;
    font-weight: 300;
    color: var(--text);
    white-space: nowrap;
}

#size-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    gap: 30rem;
}

#drink-img {
    width: 6vw;
}

#size-options {
    display: flex;
    flex-direction: column;
    gap: 7rem;
}

.size-option {
    font-size: 1.5vw;
    color: var(--text);
    cursor: pointer;
    font-family: 'Playfair Display', serif;
}

.size-option:hover {
    opacity: 0.6;
}

@media (max-width: 768px) {
    #size-title {
        font-size: 7vw;
        top: 20%;
    }

    #size-container {
        flex-direction: column;
        align-items: center;
        top: 53%;
        gap: 2rem;
    }

    #drink-img {
        width: 25vw;
    }

    .size-option {
        font-size: 4vw;
    }

    #size-options {
        gap: 1rem;
    }
}